.busqueda{
    width: 100%;
    height: 100hv;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    
    
}
.busqueda-form{
    background-color: #fff;
    width: 600px;
    height: 55px;
    display: flex;

}
.busqueda-form-inp{
    flex: 1;
    border: none;
    outline: none;
    font-size: large;

}
.busqueda-form-btn{
    background: #222;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #666;   
    cursor: pointer;
    font-size: 1.3em;
}
.busqueda-form-btn:hover{
    background-color: #444;
    color: #fff;
}